.container{
    
    width: 80vw;
    margin: auto;
    
}
main{
    height: 120vw;
}

section{display: flex;}

#main-left{
    z-index: -10;
    width: 45%;
    min-height: 39vw;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

#main-right{width: 50%;margin: auto;}
#logo-p-black{
    color: #111;
    font-family: Futura PT;
    font-size: 5vw;
    font-style: normal;
    font-weight: 450;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2vw;
}
#logo-p-red{
    color: #AB303C;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}
#main-right-p-1{background: linear-gradient(90deg, #111 -8.85%, #B1B1B1 116.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;font-family: Futura PT, arial;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 450;
    margin-bottom: 2vw;
}

#main-right-p-2{
    color: #111;
font-family: Futura PT,arial;
font-size: 1.25vw;
font-style: normal;
font-weight: 400;
margin-bottom: 2vw;
}

.main-right-btn{
    background: #30AB4C;display: flex;
    padding: .8vw 3.2vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}
.main-right-btn > p{
    color: #F6F6F6;
font-family: Futura PT;
font-size: 1.5vw;
font-style: normal;
font-weight: 700;
line-height: normal;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#header-child{
    background: linear-gradient(90deg, #111 -8.85%, #B1B1B1 58.84%, #696969 91.39%, #B1B1B1 116.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;text-align: center;
    font-family: Futura PT;
    font-size:2.5vw;
    font-style: normal;
    font-weight: 450;
    line-height: 4vw

}

#header-hr{width: 10%;

}

#info{display: flex;justify-content: space-between;}

.art-d{width: 25%;}

.art-h{
    text-align: center;
    color: #111;
    font-family: Futura PT,arial;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    position: absolute;
    top: 0vw;
}

.art-hr{
    width: 30%;
    margin: 2vw auto;
    position: absolute;
    top: 5vw;
    left: 35%;
}

.art-p{
    color: #111;
    font-family: Futura PT,arial;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 10vw;
    text-align: center;
}

ol{
    position: relative;
    z-index: 1;
    font-family: Futura PT,arial;
    font-size: 1vw;
    width: 75%;
    margin: auto;
    top: 10vw;
}
ol li{
    font-weight: 700;
}
li::before{
    content: "";
    position:relative;
    left: -1.67vw;
    top: .6vw;
    z-index:-1;
    display:inline-block;
    width:2vw;
    height:2vw;
    border-radius: 42px;
    background: #FFF;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
}

.art-img{position: absolute;top: 20vw;}

@media only screen and (max-width: 600px) { 
    ol{
        width: 100%;
        margin-left: -5vw;
    }
    /* #info{
        flex-direction: column;
    }

    .art-d{
        position: static;
    }

    .art-hr{
        position: static;
    }

    .art-h{
        position:static;
    }

    .art-img{
        position:static;
    }

    .art-p{
        position:static;
    }

    ol{
        position: static;
    } */
}